/* reset.css start*/
.twidget-container *{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
div, span, p, ol, ul, li, table, tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
.twidget-container { line-height: 1;}
.twidget-container ol, .twidget-container ul { list-style: none;}
.twidget-container table { border-collapse: collapse; border-spacing: 0;}
/* reset.css end*/

.twidget-container a, .twidget-container a:hover{text-decoration:none;}
.clearfix:after, .clearfix:before {content:""; display:table;}
.clearfix:after{clear:both;}
.twidget-container {font-family:'Open Sans', arial, sans-serif; font-size:14px; line-height:1; color:#424242;}
.twidget-container{padding-top:0; width:1170px; margin-left:auto; margin-right:auto;}
.twidget-container input[type="text"], .twidget-container input[type="email"],  .twidget-container input[type="date"]{border:none; outline:none; background-color:#fff; color:#424242; font-family:'Open Sans', arial, sans-serif; font-size: 14px; }
.twidget-container input::-ms-clear {display: none;}
.twidget-tab-content button{font-family:'Open Sans', arial, sans-serif; font-weight:600; outline:none; cursor:pointer; font-size:18px; border:none; background:none; }
/*tab links*/
.twidget-tab-links{ position:relative; z-index:9;}
.twidget-tab-links ul {height:51px; }
.twidget-tab-links ul li{background-color:#0098be; position:relative; display:inline-block; float:left; box-shadow: rgba(0, 0, 0, 0.1) 0 -3px 0 0 inset;}
.twidget-tab-links ul li:first-child{box-shadow: inset -3px -3px 0 rgba(0,0,0,.1); border-top-left-radius: 3px;}
.twidget-tab-links ul li:last-child{box-shadow: inset 3px -3px 0 rgba(0,0,0,.1); border-top-right-radius: 3px;}
.twidget-tab-links ul li.active{background-color:#00b1dd; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
.twidget-tab-links ul li a:before{content:''; position:absolute; height:25px; left:0; display:block; background: 50% 0 no-repeat; width:50px; background-size:50px 25px; top:50%; margin-top:-12px;}
.twidget-tab-links ul li#twidget-flight-li a:before{background-image:url(./images/plane.png); background-size:auto 25px;}
.twidget-tab-links ul li#twidget-hotel-li a:before{background-image:url(./images/bed.png); background-size:auto 20px;}
.twidget-tab-links a{color:#fff; font-size:16px; font-weight:600; display:block; text-transform:uppercase; padding:0 20px 0 50px; line-height:51px;}

/*tab content*/
.twidget-tab-content{padding:20px 15px 0; background-color:#00b1dd; border-radius:0 3px 3px 3px; background-color: rgba(0, 0, 0, 0.48);}
.twidget-tab-content input[type="text"]{line-height:50px; height:50px; padding: 0 37px 0 12px; overflow: hidden; text-overflow: ellipsis;}
.twidget-tab-content .twidget-tab{display:none;}
.twidget-tab-content .twidget-tab.active{display:block;}
.twidget-tab-content .twidget-header{display: block; font-family:'Open Sans', arial, sans-serif; height: 30px; line-height: 30px; font-size: 18px; margin-bottom: 5px; margin-top: -5px;}
#twidget-tab2 .twidget-header {margin-bottom: 15px;}
.twidget-tab-content .twidget-header .twidget-logo{font-size: 28px; color: white; float: left; font-weight: 300; line-height: 26px;}
.twidget-tab-content .twidget-header .twidget-logo .twidget-logo-image{display: inline-block; float: left; margin-right: 10px; width: 30px; height: 30px; background-repeat: no-repeat;}
.twidget-tab-content .twidget-header .twidget-logo .twidget-logo-image.twidget-jetradar-logo-img {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-206%20284.2%20198.6%20225.8%22%3E%3Cstyle%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-130.4%20497.2c-41.1%200-67.8-16.1-74.2-45.9-9.3-42.7%2027.8-104.8%2096-125.5.6-.1%201.2.1%201.3.7.1.6-.1%201.2-.7%201.3-67%2020.5-103.5%2081.3-94.5%20123.1%207.4%2034.1%2042.6%2049.6%2096.7%2042.4.6-.1%201.1.4%201.2%201%20.1.6-.4%201.2-1%201.2-8.7%201.2-17%201.7-24.8%201.7z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-134.3%20375c-.5%200-.9-.2-1-.6l-.6-1.3c-.2-.6%200-1.2.6-1.5.6-.3%201.2%200%201.5.6l.6%201.3c.2.6%200%201.2-.6%201.5h-.5zM-137.1%20368c-.5%200-.9-.2-1.1-.7-.4-1-.7-2-1-2.8-.2-.6.1-1.2.7-1.3.6-.2%201.2.1%201.3.7.4%201%20.6%201.8%201%202.8.2.6-.1%201.2-.6%201.5-.1-.2-.2-.2-.3-.2zm-2.7-8.5c-.5%200-1-.4-1.1-.9-.2-1-.5-2-.7-2.9-.1-.6.2-1.2.9-1.3.6-.1%201.2.2%201.3.9.2%201%20.5%202%20.7%202.9.1.6-.2%201.2-.7%201.3h-.4zm-1.9-8.8c-.5%200-1-.4-1.1-1-.1-1-.2-2.1-.4-3.1-.1-.6.4-1.1%201-1.2.6-.1%201.1.4%201.2%201%20.1%201%20.2%202%20.4%202.9.1.6-.4%201.2-1%201.2.1.2.1.2-.1.2zm-.8-9.1c-.6%200-1.1-.5-1.1-1.1v-3.1c0-.6.5-1.2%201.1-1.1.6%200%201.1.5%201.1%201.1v2.9c0%20.7-.5%201.3-1.1%201.3zm.2-8.9c-.7-.1-1.2-.6-1.1-1.2.1-1%20.2-2.1.4-3.1.1-.6.6-1%201.2-1%20.6.1%201%20.6%201%201.2-.1%201-.2%202-.4%202.9%200%20.7-.5%201.2-1.1%201.2zm1.6-8.8h-.2c-.6-.1-1-.7-.9-1.3.2-1%20.5-2%20.9-2.9.1-.6.9-.9%201.3-.7.6.1.9.9.7%201.3-.2%201-.6%201.8-.9%202.8.1.5-.4.8-.9.8zM-44%20321c-.4%200-.9-.2-1-.6-.5-.9-.9-1.8-1.3-2.7-.2-.5-.1-1.2.5-1.5.5-.2%201.2-.1%201.5.5.5.9%201%201.8%201.3%202.7.2.5%200%201.2-.5%201.5-.1.1-.2.1-.5.1zm-93.7-5.6c-.1%200-.2%200-.5-.1-.6-.2-.9-.9-.6-1.5.4-1%20.9-1.8%201.3-2.8.2-.5%201-.7%201.5-.5.5.2.7%201%20.5%201.5-.5.9-.9%201.7-1.2%202.7-.2.4-.7.7-1%20.7zm89.3-2.2c-.4%200-.7-.1-1-.5-.5-.9-1.1-1.7-1.6-2.4-.4-.5-.2-1.2.2-1.6.4-.4%201.2-.2%201.6.2.6.9%201.1%201.7%201.7%202.6.4.5.1%201.2-.4%201.5%200%20.1-.2.2-.5.2zm-84.9-5.6c-.2%200-.5%200-.6-.2-.5-.4-.6-1-.2-1.6.6-.9%201.2-1.7%201.8-2.4.4-.5%201.1-.6%201.6-.2s.6%201.1.2%201.6c-.6.7-1.2%201.6-1.7%202.3-.5.2-.9.5-1.1.5zm79.7-1.6c-.4%200-.6-.1-.9-.4-.6-.7-1.3-1.5-2-2.2-.4-.5-.4-1.1%200-1.6.5-.4%201.1-.4%201.6%200%20.7.7%201.3%201.5%202.1%202.3.4.5.4%201.2-.1%201.6-.2.1-.5.3-.7.3zm-74.1-5.4c-.2%200-.6-.1-.7-.4-.5-.5-.5-1.1%200-1.6.7-.7%201.5-1.5%202.2-2.1.5-.4%201.1-.4%201.6.1.4.5.4%201.1-.1%201.6-.7.6-1.5%201.3-2.1%202-.3.3-.6.4-.9.4zm67.9-1.1c-.2%200-.5-.1-.7-.2-.7-.6-1.5-1.2-2.2-1.8-.5-.4-.6-1.1-.1-1.6.4-.5%201.1-.6%201.6-.1.9.6%201.6%201.2%202.3%202%20.5.4.5%201.1.1%201.6-.4%200-.8.1-1%20.1zm-61-4.6c-.4%200-.7-.1-.9-.5-.4-.5-.2-1.2.2-1.6.9-.6%201.7-1.1%202.6-1.7.5-.4%201.2-.1%201.5.4.4.5.1%201.2-.4%201.5-.9.5-1.7%201-2.4%201.6-.2.1-.5.3-.6.3zm53.8-.8c-.2%200-.4%200-.6-.1-.9-.5-1.7-1-2.6-1.5-.5-.2-.7-1-.5-1.5.2-.5%201-.7%201.5-.5.9.5%201.7%201%202.7%201.6.5.4.7%201%20.4%201.5-.2.3-.6.5-.9.5zm-46-3.6c-.4%200-.9-.2-1-.6-.2-.6%200-1.2.6-1.5%201-.4%201.8-.7%202.8-1.1.6-.2%201.2.1%201.5.6.2.6-.1%201.2-.6%201.5-1%20.4-1.8.7-2.7%201.1h-.6zm37.9-.5c-.1%200-.2%200-.4-.1-.9-.4-1.8-.7-2.8-1-.6-.2-.9-.9-.7-1.5.2-.6.9-.9%201.5-.7%201%20.4%202%20.7%202.9%201.1.6.2.9.9.6%201.5-.3.4-.6.7-1.1.7zm-29.3-2.3c-.5%200-1-.4-1.1-.9-.1-.6.2-1.2.9-1.3%201-.2%202-.5%203.1-.6.6-.1%201.2.2%201.2.9.1.6-.2%201.2-.9%201.2-1%20.1-2%20.4-2.9.6-.2.1-.3.1-.3.1zm20.7-.3h-.2c-1-.2-2-.4-2.9-.5-.6-.1-1-.6-1-1.2.1-.6.6-1%201.2-1%201%20.1%202%20.4%203.1.5.6.1%201%20.7.9%201.3-.1.5-.6.9-1.1.9zm-11.9-1c-.6%200-1.1-.5-1.1-1.1s.5-1.1%201.1-1.1h3.1c.6%200%201.1.5%201.1%201.1s-.5%201.1-1.1%201.1h-3.1c.1%200%20.1%200%200%200zM-40.9%20327.9c-.5%200-.9-.2-1-.7l-.5-1.3c-.2-.6%200-1.2.6-1.5.6-.2%201.2%200%201.5.6l.5%201.3c.2.6-.1%201.2-.6%201.5-.3.1-.4.1-.5.1zM-105.6%20495.5c-.6%200-1.1-.5-1.1-1.1s.5-1.1%201.1-1.1h1.5c.6%200%201.1.5%201.1%201.1s-.5%201.1-1.1%201.1h-1.5zM-98.4%20494.5c-.5%200-.9-.2-1.1-.7-.2-.6.1-1.2.7-1.3.9-.2%201.7-.6%202.4-1.1.5-.4%201.2-.1%201.5.4.4.5.1%201.2-.4%201.5-.9.5-1.8%201-2.9%201.3%200-.1-.1-.1-.2-.1zm6.3-5.5c-.1%200-.2%200-.5-.1-.6-.2-.9-.9-.6-1.5.4-.7.5-1.6.7-2.6.1-.6.6-1%201.2-1%20.6.1%201%20.6%201%201.2-.1%201.1-.5%202.1-.9%203.1%200%20.7-.4.9-.9.9zm.8-8.5c-.5%200-1-.4-1.1-1-.1-.9-.2-1.8-.5-2.8-.1-.6.2-1.2.9-1.3.7-.1%201.2.2%201.3.9.2%201%20.4%202%20.5%202.9.1.6-.4%201.1-1%201.2%200%20.1%200%20.1-.1.1zm-1.9-8.5c-.5%200-.9-.4-1.1-.7-.2-.9-.6-1.8-.9-2.7-.2-.6.1-1.2.7-1.5.6-.2%201.2.1%201.5.7.4%201%20.6%201.8%201%202.8.1.6-.1%201.2-.7%201.3-.4.1-.5.1-.5.1zm-3-8.2c-.5%200-.9-.2-1-.7-.4-.9-.7-1.7-1.1-2.7-.2-.6%200-1.2.6-1.5.6-.3%201.2%200%201.5.6.4%201%20.7%201.8%201.1%202.7.2.6%200%201.2-.6%201.5-.2%200-.3.1-.5.1zm-3.4-8c-.4%200-.9-.2-1-.6l-1.2-2.7c-.2-.6%200-1.2.5-1.5.5-.3%201.2%200%201.5.5l1.2%202.7c.2.6%200%201.2-.6%201.5-.1.1-.2.1-.4.1zm-3.7-7.9c-.4%200-.9-.2-1-.6l-1.2-2.6c-.2-.5%200-1.2.5-1.5.5-.3%201.2%200%201.5.5l1.2%202.6c.2.5%200%201.2-.5%201.5-.1.1-.3.1-.5.1zm-3.2-8.1c-.6.4-1.3%200-1.6-.5-.2-.5-1.2-2.6-1.2-2.6-.2-.5%200-1.2.5-1.5.6-.2%201.2%200%201.5.5%200%200%201%202%201.2%202.6.3.8.2%201.3-.4%201.5zm-3.9-7.7c-.5.4-1.2.1-1.5-.5-.2-.6-1.2-2.6-1.2-2.6-.2-.5%200-1.2.5-1.5.6-.2%201.2%200%201.5.5%200%200%201%201.8%201.2%202.6.2.6%200%201.1-.5%201.5zm-4.3-7.7c-.4%200-.9-.2-1-.6l-1.2-2.7c-.2-.5%200-1.2.5-1.5.5-.2%201.2%200%201.5.5l1.2%202.6c.2.5%200%201.2-.5%201.5-.1.2-.3.2-.5.2zm-3.8-7.8c-.4%200-.9-.2-1-.6l-1.2-2.7c-.2-.6%200-1.2.5-1.5.5-.3%201.2%200%201.5.5l1.2%202.6c.2.6%200%201.2-.5%201.5-.1.1-.2.2-.5.2zm-3.5-7.9c-.4%200-.9-.2-1-.6l-1.2-2.7c-.2-.6%200-1.2.6-1.5.6-.3%201.2%200%201.5.6l1.2%202.7c.2.6%200%201.2-.6%201.5-.2-.2-.4%200-.5%200zM-125.4%20400.6c-.5%200-.9-.2-1-.7l-.6-1.3c-.2-.6%200-1.2.6-1.5.6-.3%201.2%200%201.5.6l.6%201.3c.2.6%200%201.2-.6%201.5-.3.1-.4.1-.5.1z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-105.6%20504.1c-4.9%200-8.8-3.9-8.8-8.8%200-6.3-4-41.1-21.6-41.1-3.1%200-5.1%201-6.8%203.3-3.1%203.9-8.5%204.5-12.5%201.6-3.9-3.1-4.5-8.5-1.6-12.5%205.1-6.6%2012.3-10.1%2020.9-10.1%2032.1%200%2039.3%2043.6%2039.3%2058.9%200%204.8-4%208.7-8.9%208.7z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-136.2%20503.3c-1%200-2.1-.1-3.1-.6-24-9.1-24.7-32.4-24.7-34.9%200-8.1%202.4-15.1%207.2-21.1%203.1-3.8%208.5-4.5%2012.5-1.5%203.8%203.1%204.5%208.5%201.5%2012.5-2.2%202.8-3.3%206.2-3.3%2010.1%200%201.3.4%2013.6%2013.2%2018.4%204.5%201.7%206.8%206.8%205.1%2011.4-1.4%203.5-4.8%205.7-8.4%205.7zM-57.2%20443l-16.9-5.1c4-13.2%2010-33.1%2013.7-57l17.5%202.7c-3.8%2025.1-10.1%2045.7-14.3%2059.4zM-40.9%20327.9c-.4%200-.7-.2-1-.5-6.5-10.5-16.2-17.1-26.9-18.2-12.6-1.3-26%205-38.8%2018.4-.5.5-1.1.5-1.6%200-.5-.4-.5-1.1%200-1.6%2013.3-13.9%2027.4-20.5%2040.7-19%2011.2%201.2%2021.6%208.2%2028.4%2019.3.4.5.1%201.2-.4%201.5-.1.1-.2.1-.4.1z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-51.5%20391c-.6%200-1.1%200-1.7-.1-4.8-1-7.9-5.6-7-10.4l8.7-44.7h-56.8c-4.9%200-8.8-3.9-8.8-8.8s3.9-8.8%208.8-8.8h78.1l-12.7%2065.7c-.8%204.1-4.5%207.1-8.6%207.1zM-117.2%20506h-2.2c-7.3%200-14-1.1-19.8-3.3-4.5-1.7-6.8-6.8-5.1-11.4%201.7-4.5%206.8-6.8%2011.4-5.1%203.8%201.5%208.3%202.1%2013.6%202.1h1.7c14%200%2028.3.1%2043.8-50.4%201.5-4.6%206.3-7.3%2011-5.9%204.6%201.5%207.3%206.3%205.9%2011-17.8%2057.7-38.7%2063-60.3%2063z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-92.6%20326.9c0%208.7-7.1%2015.6-15.6%2015.6-8.7%200-15.6-7.1-15.6-15.6%200-8.7%207-15.6%2015.6-15.6%208.6-.1%2015.6%206.9%2015.6%2015.6zM-15.4%20380.2c-.6%200-1.1-.5-1.1-1.1-1-22-9.9-40.2-25.2-51.3-.5-.4-.6-1.1-.2-1.6s1.1-.6%201.6-.2c15.5%2011.4%2024.9%2030.6%2026%2053%200%20.6-.4%201.1-1.1%201.2.1%200%200%200%200%200zM-105.6%20495.5c-.5%200-1-.4-1.1-.9-.1-.6.2-1.2.9-1.3%2049.3-10.1%2079.4-52.4%2087.2-89.9.1-.6.7-1%201.3-.9s1%20.7.9%201.3c-8.1%2038.1-38.6%2081.2-88.9%2091.6-.1.1-.2.1-.3.1z%22%2F%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-89.9%20494.4c0%208.7-7%2015.6-15.6%2015.6-8.7%200-15.6-7.1-15.6-15.6%200-8.7%207-15.6%2015.6-15.6%208.5-.1%2015.6%206.9%2015.6%2015.6z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-25.3%20326.9c0%208.7-7%2015.6-15.6%2015.6-8.7%200-15.6-7.1-15.6-15.6%200-8.7%207-15.6%2015.6-15.6%208.7-.1%2015.6%206.9%2015.6%2015.6z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-24.6%20386.8s-.1.6-.2%201.1c0%20.5.2.9.4.9%203.8%204%206.3%205.9%206.3%205.9-.2%202.3-.1%203.3-.2%203.5%200%20.7.4%202.1%201.1%202.2.7.1%201.5-1.2%201.5-2%200-.4.2-1.2.5-3.5%200%200%202.9-1.3%207.3-4.6.1-.1.5-.4.5-.9v-1.2l-7.4%202.7c.1-2.8%200-5.7%200-5.7.7-.4%201.3-.7%201.8-1%20.5-.3.5-.7.5-.9%200-.1.1-.6.1-.6s-2.7.5-3.2.5c-.6%200-3.1-1.1-3.1-1.1v.6c0%20.1%200%20.6.4%201s1%20.9%201.6%201.3c0%200-.7%202.8-1.1%205.6l-6.8-3.8z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-120.7%20387.3s-.1-.6-.2-1.1-.6-.6-.7-.7c-5.1-2.2-8.2-2.8-8.2-2.8-.7-2.2-1.1-3.1-1.2-3.4-.2-.6-1.2-1.7-2-1.6-.6.2-.9%201.7-.6%202.3.1.4.2%201.2%201%203.4%200%200-2.1%202.4-4.9%207.2-.1.1-.2.5-.1%201s.5%201.1.5%201.1l5.7-5.5c1%202.7%202.4%205.3%202.4%205.3-.5.6-1%201.2-1.2%201.7s-.2.9-.1%201c0%20.1.1.6.1.6s2.2-1.6%202.7-1.7c.6-.2%203.3-.2%203.3-.2s-.1-.4-.2-.5c0-.1-.2-.5-.7-.7-.5-.1-1.2-.4-2-.6%200%200-.5-2.9-1.2-5.6l7.6.8z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');}
.twidget-tab-content .twidget-header .twidget-logo .twidget-logo-image.twidget-aviasales-logo-img {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Isolation_Mode%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-65%2068.8%20178.2%20178.2%22%3E%3Cstyle%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22XMLID_152_%22%3E%3Cg%20id%3D%22XMLID_153_%22%3E%3Cpath%20id%3D%22XMLID_161_%22%20class%3D%22st0%22%20d%3D%22M75.3%2068.9H-30c-19%200-35%2016-35%2035V212c0%2019%2016%2035%2035%2035H75.3c21.2%200%2037.9-15.4%2037.9-35V103.9c0-18.3-18.1-35-37.9-35zm32.8%20142.3c0%2016.8-14%2030.8-33.6%2030.8H-29.2C-46%20242-60%20228-60%20211.2V104.7c0-16.8%2014-30.8%2030.8-30.8H74.5c16.8%200%2033.6%2014%2033.6%2030.8v106.5z%22%2F%3E%3Cpath%20id%3D%22XMLID_158_%22%20class%3D%22st0%22%20d%3D%22M29.7%20118.6H18.5C3%20118.6-10%20131.3-10%20146.8v36.4c0%2015.5%2013.1%2028.6%2028.5%2028.6h11.2c15.5%200%2028.5-13.2%2028.5-28.6v-36.4c0-15.5-13.1-28.2-28.5-28.2zm16.7%2049.1c0%2010.1-8.5%2017.9-19.1%2017.9h-6.4c-10.6%200-19.1-7.8-19.1-17.9v-19.4c0-10.1%208.5-17.9%2019.1-17.9h6.4c10.6%200%2019.1%207.8%2019.1%2017.9v19.4z%22%2F%3E%3Cpath%20id%3D%22XMLID_155_%22%20class%3D%22st0%22%20d%3D%22M70.2%2085.7h-94.7c-14.6%200-23.7%209.1-23.7%2023.7v21h5.4c10.6%200%2019.6%207.8%2019.6%2017.9v19.4c0%2010.1-9%2017.9-19.6%2017.9h-5.4v21c0%2014.6%209.1%2023.7%2023.7%2023.7h94.7c17%200%2026.1-9.1%2026.1-23.7v-21h-5.4c-10.6%200-19.6-7.8-19.6-17.9v-19.4c0-10.1%209-17.9%2019.6-17.9h5.4v-21c0-14.6-11.5-23.7-26.1-23.7zm-7%2097.2c0%2018.4-15.1%2033.6-33.5%2033.6H18.5C.1%20216.5-15%20201.3-15%20182.9v-36.1c0-18.4%2015.1-33.2%2033.5-33.2h11.1c18.4%200%2033.5%2014.8%2033.5%2033.2v36.1h.1z%22%2F%3E%3Cpath%20id%3D%22XMLID_154_%22%20class%3D%22st0%22%20d%3D%22M24.1%20175.9h-.5c-7.4%200-12-3.1-12-10.8v-7.2s0-2.6-2.4-2.6-2.4%202.6-2.4%202.6v7.2c0%2010.3%206.8%2015.5%2016.8%2015.5h.5s2.4%200%202.4-2.4c-.1-2.1-2.4-2.3-2.4-2.3z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');}
.twidget-tab-content .twidget-header .twidget-logo .twidget-logo-image.twidget-hotellook-logo-img {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-66%2071.7%20156%20173.3%22%3E%3Cstyle%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%20.st1%7Bfill%3A%23FFFFFF%3Bstroke%3A%23EC668C%3Bstroke-width%3A0.7837%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3B%7D%20.st2%7Bfill%3A%23FFFFFF%3Bstroke%3A%23662D91%3Bstroke-width%3A6.2698%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M87.3%20104.4c-.4%200-.7-.3-.8-.6l-.2-1.1c-.1-.4.2-.9.6-1s.9.2%201%20.6l.3%201.1c.1.4-.2.9-.6%201h-.3zM61%20227.4c-.1%200-.2%200-.3-.1-.4-.2-.6-.7-.4-1.1l.9-2.1c.2-.4.7-.6%201.1-.4.4.2.6.7.4%201.1l-.9%202.1c-.2.3-.5.5-.8.5zm2.5-6.3c-.1%200-.2%200-.3-.1-.4-.2-.6-.7-.4-1.1l.8-2.1c.2-.4.6-.6%201.1-.5.4.2.6.6.5%201.1l-.8%202.1c-.3.5-.6.6-.9.6zm2.5-6.2c-.1%200-.2%200-.3-.1-.4-.2-.6-.6-.5-1.1l.8-2.1c.2-.4.6-.6%201.1-.5.4.2.6.6.5%201.1l-.8%202.1c-.1.4-.5.6-.8.6zm2.5-6.2c-.1%200-.2%200-.3-.1-.4-.2-.6-.6-.5-1.1l.8-2.1c.2-.4.6-.6%201.1-.5.4.2.6.6.5%201.1l-.8%202.1c-.2.4-.5.6-.8.6zm2.3-6.3c-.1%200-.2%200-.3-.1-.4-.2-.6-.6-.5-1.1l.8-2.1c.2-.4.6-.6%201.1-.5.4.2.6.6.5%201.1l-.8%202.1c-.1.4-.4.6-.8.6zm2.3-6.4h-.2c-.4-.2-.7-.6-.5-1l.7-2.1c.1-.4.6-.7%201-.5s.7.6.5%201l-.7%202c-.1.4-.4.6-.8.6zm2.3-6.2h-.3c-.4-.1-.7-.6-.5-1l.7-2.1c.1-.4.6-.7%201-.5.4.1.7.6.5%201l-.7%202.1c-.1.2-.4.5-.7.5zm2.1-6.4h-.3c-.4-.1-.7-.6-.5-1%20.2-.7.5-1.4.7-2.1.1-.4.6-.7%201-.5.4.1.7.6.5%201-.2.7-.5%201.4-.7%202.1-.1.3-.4.5-.7.5zm2-6.4h-.2c-.4-.1-.7-.6-.5-1l.6-2.1c.1-.4.6-.7%201-.6.4.1.7.6.6%201l-.6%202.1c-.2.4-.6.6-.9.6zm1.9-6.5h-.2c-.4-.1-.7-.6-.6-1l.6-2.2c.1-.4.6-.7%201-.6.4.1.7.6.6%201l-.6%202.2c-.1.4-.5.6-.8.6zm1.7-6.4h-.2c-.4-.1-.7-.6-.6-1l.5-2.2c.1-.4.5-.7%201-.6.4.1.7.6.6%201l-.6%202.2c0%20.3-.3.6-.7.6zm1.6-6.6h-.2c-.4-.1-.7-.5-.6-1l.5-2.2c.1-.4.5-.7%201-.6.4.1.7.5.6%201l-.5%202.2c-.1.4-.4.6-.8.6zm1.4-6.5h-.2c-.4-.1-.7-.5-.6-1%20.1-.7.3-1.5.4-2.2.1-.4.5-.7%201-.7.4.1.7.5.7%201-.1.7-.3%201.5-.4%202.2-.1.4-.5.7-.9.7zm1.2-6.6c-.5-.1-.9-.5-.8-.9.1-.7.2-1.5.3-2.2.1-.5.5-.8.9-.7s.8.5.7.9c-.1.7-.2%201.5-.3%202.2%200%20.4-.4.7-.8.7zm1-6.7c-.6-.1-.9-.5-.8-.9.1-.7.2-1.5.3-2.2%200-.5.5-.8.9-.7.5%200%20.8.5.7.9-.1.7-.2%201.5-.3%202.2-.1.4-.4.7-.8.7zm.6-6.6c-.5%200-.9-.4-.8-.9.1-.7.1-1.5.1-2.2%200-.5.4-.8.9-.8s.8.4.8.9c0%20.7-.1%201.5-.1%202.2-.1.4-.4.8-.9.8zm.3-6.7c-.5%200-.8-.4-.8-.8v-2.2c0-.5.4-.8.8-.8.5%200%20.8.4.8.8v2.2c0%20.4-.3.8-.8.8zm-.1-6.8c-.4%200-.8-.3-.8-.8%200-.7-.1-1.5-.1-2.2%200-.5.3-.8.8-.9.4-.1.8.3.9.8.1.7.1%201.5.1%202.3-.1.4-.4.8-.9.8zm-.6-6.6c-.4%200-.8-.3-.8-.7-.1-.7-.2-1.5-.3-2.2-.1-.5.2-.9.7-.9.5-.1.9.2.9.7.1.7.2%201.5.3%202.2.1.5-.3.9-.8.9zM58.8%20232.5c-.1%200-.2%200-.3-.1-.4-.2-.6-.7-.4-1.1l.4-1c.2-.4.7-.6%201.1-.4.4.2.6.7.4%201.1l-.4%201c-.2.3-.5.5-.8.5zM-21.2%2094.1c-.3%200-.6-.2-.7-.4-.2-.4-.1-.9.3-1.1l1-.5c.4-.2.9-.1%201.1.3s.1.9-.3%201.1l-.9.5c-.2.1-.3.1-.5.1zM-16.2%2091.5c-.3%200-.6-.2-.7-.5-.2-.4%200-.9.4-1.1.6-.3%201.3-.7%202-1%20.4-.2.9%200%201.1.4.2.4%200%20.9-.4%201.1-.7.3-1.4.7-2%201-.2.1-.3.1-.4.1zm6.1-2.9c-.3%200-.6-.2-.7-.5-.2-.4%200-.9.4-1.1.7-.3%201.3-.6%202.1-.9.4-.2.9%200%201.1.4s0%20.9-.4%201.1c-.7.3-1.4.6-2%20.9-.3.1-.4.1-.5.1zm6.1-2.7c-.3%200-.6-.2-.8-.5-.2-.4%200-.9.4-1.1l2.1-.9c.4-.2.9%200%201.1.4s0%20.9-.4%201.1l-2.1.9c-.1%200-.2.1-.3.1zm6.3-2.6c-.3%200-.6-.2-.8-.5-.2-.4%200-.9.5-1.1.7-.2%201.4-.5%202.1-.8.4-.2.9.1%201.1.5s-.1.9-.5%201.1c-.7.3-1.4.5-2.1.8h-.3zM8.6%2081c-.3%200-.7-.2-.8-.6-.1-.4.1-.9.5-1%20.7-.2%201.4-.5%202.1-.7.4-.1.9.1%201%20.5s-.1.9-.5%201c-.7.2-1.4.5-2.1.7%200%20.1-.1.1-.2.1zm6.4-2.1c-.4%200-.7-.2-.8-.6s.1-.9.5-1c.7-.2%201.4-.4%202.2-.7.4-.1.9.1%201%20.6.1.4-.1.9-.6%201l-2.1.6c0%20.1-.1.1-.2.1zm54.8-.3c-.1%200-.3%200-.4-.1-.6-.4-1.3-.7-1.9-1-.4-.2-.6-.7-.4-1.1s.7-.6%201.1-.4c.7.3%201.4.7%202%201.1.4.2.5.7.3%201.1-.2.2-.4.4-.7.4zM21.5%2077c-.4%200-.7-.2-.8-.6-.1-.4.1-.9.6-1%20.7-.2%201.5-.4%202.2-.6.4-.1.9.2%201%20.6s-.2.9-.6%201c-.7.2-1.4.4-2.2.5-.1.1-.1.1-.2.1zm42.1-1.1h-.3c-.7-.2-1.4-.5-2.1-.7-.4-.1-.7-.6-.6-1%20.1-.4.6-.7%201-.6.7.2%201.5.4%202.2.7.4.1.7.6.5%201%200%20.3-.3.6-.7.6zm-35.5-.4c-.4%200-.7-.3-.8-.7-.1-.4.2-.9.6-1%20.7-.2%201.5-.3%202.2-.4.5-.1.9.2%201%20.7.1.4-.2.9-.7%201-.7.1-1.5.3-2.2.4h-.1zm6.6-1.2c-.4%200-.8-.3-.8-.7-.1-.5.2-.9.7-.9.7-.1%201.5-.2%202.2-.3.4-.1.9.3.9.7.1.5-.3.9-.7.9-.7.1-1.5.2-2.2.3h-.1zm22.4-.1c-.8-.1-1.6-.2-2.3-.3-.5-.1-.8-.5-.7-.9.1-.5.5-.8.9-.7.8.1%201.5.2%202.3.4.4.1.7.5.7.9-.2.3-.5.6-.9.6zm-15.7-.6c-.4%200-.8-.3-.8-.8s.3-.8.8-.9c.8-.1%201.5-.1%202.3-.1.5%200%20.8.3.9.8%200%20.5-.3.8-.8.9-.8%200-1.6%200-2.4.1zm9-.2c-.8%200-1.5-.1-2.3-.1-.5%200-.8-.4-.8-.8%200-.5.4-.8.8-.8.8%200%201.5%200%202.3.1.5%200%20.8.4.8.9%200%20.4-.4.7-.8.7zM74.4%2081.7c-.2%200-.4-.1-.5-.2-.3-.2-.6-.4-.8-.7-.4-.3-.4-.8-.2-1.1.3-.4.8-.4%201.2-.2.3.2.6.5.9.7.3.3.4.8.1%201.2-.2.2-.5.3-.7.3z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M58.8%20232.5c-.2%200-.4-.1-.6-.3-.3-.3-.3-.8%200-1.2%2016.3-15.7%2023.1-27%2019.7-32.7-9.6-16.1-91%209.9-91.8%2010.1-.4.1-.9-.1-1-.5s.1-.9.5-1c3.4-1.1%2083.4-26.6%2093.7-9.4%204%206.6-2.6%2018-20%2034.8-.1.2-.3.2-.5.2z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-14.1%20208.5h-.2c-.4-.1-42.8-9.2-50.5-37.8-5.7-21.3%208.8-47.5%2043.1-78%20.3-.3.9-.3%201.2.1.3.3.3.9-.1%201.2-33.8%2030.1-48.1%2055.8-42.6%2076.4%207.4%2027.6%2048.8%2036.5%2049.3%2036.6.4.1.7.5.6%201-.1.3-.5.5-.8.5zM43%20244.9c-2.5%200-4.9-.6-7.1-2.1-7.3-5.1-6.6-16.4-3.3-31.6.8-3.5%204.3-5.8%207.8-5s5.8%204.3%205%207.8c-2.6%2011.8-2.2%2016.2-1.8%2017.8%201.3-.2%204.7-1.2%2011.7-5.6%203.1-1.9%207.1-1%209.1%202.1%201.9%203.1%201%207.1-2.1%209.1-6.3%203.8-13.2%207.5-19.3%207.5z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M39%20219.1c-.5%200-.9%200-1.4-.2-3.5-.8-5.8-4.3-5-7.8l5.4-24.8c.8-3.5%204.3-5.8%207.8-5s5.8%204.3%205%207.8l-5.4%2024.8c-.6%203.1-3.4%205.2-6.4%205.2z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M44.4%20194.3c-.5%200-.9%200-1.4-.2-3.5-.8-5.8-4.3-5-7.8%204.1-19.2-.2-23.9-1.6-24.9-3.6-2.5-12-.4-20.9%205.3-3.1%202-7.1%201-9.1-2-1.9-3.1-1-7.1%202-9.1%2014.2-9%2027.1-10.8%2035.5-5%208.8%206.1%2011.1%2019.1%206.9%2038.5-.6%203.1-3.4%205.2-6.4%205.2z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-8.9%20188.3c-1.2%200-2.4-.3-3.5-1-3.1-1.9-4-6-2-9.1%205.4-8.4%2013.7-16.6%2022.9-22.5%203.1-1.9%207.1-1%209.1%202%201.9%203.1%201%207.1-2%209.1-7.5%204.8-14.5%2011.6-18.8%2018.4-1.4%202-3.6%203.1-5.7%203.1zM-28.7%20151.5c-.4%200-.8-.3-.8-.7-4.4-39.8%207.2-57.2%207.7-57.9.3-.4.8-.5%201.1-.2.4.3.5.8.2%201.1-.1.2-11.8%2017.7-7.4%2056.8%200%20.5-.3.9-.8.9z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M-28.7%20150.7%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-14.1%20208.5c-.3%200-.6-.2-.8-.5-4.6-11.8-8.2-23.4-10.7-34.5-.1-.4.2-.9.6-1s.9.2%201%20.6c2.5%2011%206.1%2022.5%2010.7%2034.3.2.4%200%20.9-.5%201.1h-.3zM-20.4%20245c-.4%200-.9%200-1.3-.1-3.6-.7-5.8-4.2-5.1-7.8%200-.2%203.7-17.9%206.3-30.6.7-3.6%204.2-5.9%207.7-5.2%203.6.7%205.9%204.2%205.2%207.7-2.5%2012.7-6.2%2030.5-6.3%2030.7-.7%203.1-3.5%205.3-6.5%205.3z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-7.7%20209l-12.9-2.6%2017.4-87.2c.7-3.6%204.1-5.9%207.7-5.2%203.6.7%205.9%204.2%205.2%207.7L-7.7%20209z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M3.3%20127.1c-.4%200-.9%200-1.3-.1-3.6-.7-5.9-4.2-5.2-7.7l6-30c.7-3.6%204.2-5.9%207.7-5.2%203.6.7%205.9%204.2%205.2%207.7l-6%2030c-.6%203.1-3.4%205.3-6.4%205.3z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-21.2%2099.9c-2.1%200-4.1-1-5.4-2.8-2.1-3-1.3-7.1%201.7-9.1%209.5-6.6%2026.9-16.8%2036.1-10.8%203%202%206.2%206.1%204.5%2014.7-.7%203.6-4.1%205.9-7.7%205.2-3.6-.7-5.9-4.2-5.2-7.7.1-.3.1-.6.1-.8-4.2.8-13%205.2-20.4%2010.3-1.1.6-2.4%201-3.7%201z%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M22.9%2084.3%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M71.1%20229.9c0%206.4-5.2%2011.6-11.6%2011.6s-11.6-5.2-11.6-11.6c0-6.4%205.2-11.6%2011.6-11.6s11.6%205.2%2011.6%2011.6z%22%2F%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-2.5%20207.7c0%206.4-5.2%2011.6-11.6%2011.6s-11.6-5.2-11.6-11.6c0-6.4%205.2-11.6%2011.6-11.6s11.6%205.2%2011.6%2011.6z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-9.5%2093.3c0%206.4-5.2%2011.6-11.6%2011.6s-11.6-5.2-11.6-11.6%205.2-11.6%2011.6-11.6%2011.6%205.2%2011.6%2011.6z%22%2F%3E%3C%2Fg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-23.7%20168.9l-1.4-7.8c1-.9%201.6-2.3%201.3-3.7-.4-2.2-2.5-3.6-4.6-3.2-2.2.4-3.6%202.5-3.2%204.6.3%201.5%201.3%202.6%202.6%203.1l.3%201.5%201.4%201-.8%201.1%201.1.7-.8%201.1%201.1.8-.8%201.1%202.2%201.2%201.6-1.5zm-5.5-12c-.1-.7.4-1.4%201.1-1.6.7-.1%201.4.4%201.6%201.1.1.7-.4%201.4-1.1%201.6-.8.1-1.5-.4-1.6-1.1zM75.6%2085.7l4.2%206.7c-.6%201.2-.6%202.7.1%204%201.2%201.9%203.6%202.4%205.5%201.3%201.9-1.2%202.4-3.6%201.3-5.5-.8-1.3-2.2-1.9-3.5-1.9l-.8-1.3-1.7-.4.3-1.4-1.4-.3.3-1.3-1.4-.3.3-1.4-2.5-.3-.7%202.1zm9.5%209.1c.4.6.2%201.5-.4%201.8-.6.4-1.5.2-1.8-.4-.4-.6-.2-1.5.4-1.8.6-.5%201.4-.3%201.8.4z%22%2F%3E%3C%2Fsvg%3E');}
.twidget-tab-content .twidget-header .twidget-title{float: right; color: white;}
.twidget-tab form {margin-top: 10px;}
.twidget-tab-content .twidget-form-list > li{float:left; margin-right:1%; position:relative;}
.twidget-tab-content .twidget-form-list > li:last-child{margin-right:0;}
#twidget-tab1 .twidget-form-list li.twidget-origin,
#twidget-tab1 .twidget-form-list li.twidget-destination{width:19%;}
.twidget-pseudo-input { position: absolute; top: 30px; left: 13px; font-family:'Open Sans', arial, sans-serif; width: 77%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; min-height: 16px;}
.twidget-pseudo-input .twidget-pseudo-name {color: transparent; white-space: nowrap;}
#twidget-tab1 .twidget-form-list .twidget-origin-iata,
#twidget-tab1 .twidget-form-list .twidget-destination-iata {position: absolute; right: 10px; line-height: 50px; margin-top: -48px; font-size: 12px; color: #999;}
#twidget-tab1 .twidget-form-list li.twidget-flight-dates{width:27%;}
#twidget-tab1 .twidget-form-list li.twidget-passengers{width:13%;}
#twidget-tab1 .twidget-form-list li.twidget-submit-button{width:18%;}
.twidget-form-list li .twidget-input-box input{width:100%; border:1px solid #fff;}
.twidget-form-list li .twidget-input-box input:focus{border-color:#fdd835;}
.twidget-form-list li .twidget-input-box label, .twidget-passengers label, .twidget-hotel-guest label {color: white; position: relative; top: -4px; font-size: 12px; display: block;}
.twidget-form-list li button{ height: 50px; margin-top: 12px; line-height:50px; text-align:center; width:100%; text-transform:uppercase; background-color:#ffa600; color:#fff; }
.twidget-form-list li.input-daterange > div{float:left; width:50%; }
.twidget-form-list li.twidget-flight-dates .twidget-dep-date .twidget-input-box input,
.twidget-form-list li.twidget-hotel-dates .twidget-start-date .twidget-input-box input{border-right:1px solid #cfd8dc;}
.twidget-form-list li.twidget-flight-dates .twidget-dep-date .twidget-input-box input:focus,
.twidget-form-list li.twidget-hotel-dates .twidget-start-date .twidget-input-box input:focus{border-right-color:#fdd835;}
.twidget-form-list li.input-daterange .twidget-input-box{position:relative;}
.twidget-form-list li.input-daterange .twidget-input-box .twidget-icon-cal{background:url(./images/calendar.png) no-repeat 50% 50%; position:absolute; right:0; top:12px; height:50px; width:40px; background-size:14px; cursor: pointer;}
.twidget-form-list li.input-daterange .twidget-input-box .twidget-icon-delete{background:url(./images/icon-delete.png) no-repeat 50% 50%; position:absolute; right:0; top:12px; height:50px; width:40px; background-size:13px; cursor:pointer;}
.twidget-form-list li .twidget-passengers-detail,
.twidget-form-list li .twidget-guest-detail{height:50px; padding:7px 14px; border:1px solid #fff; cursor:pointer; position:relative; background-color:#fff;}
.twidget-form-list li .twidget-passengers-detail.active,
.twidget-form-list li .twidget-guest-detail.active{border-color:#fdd835;}
.twidget-form-list li .twidget-passengers-detail .twidget-pas-no{color:#424242; line-height:20px;}
.twidget-form-list li .twidget-guest-detail .twidget-guest-no{line-height:36px;}
.twidget-form-list li .twidget-passengers-detail .twidget-class{color:#999; font-size:13px; line-height:18px;}
.twidget-form-list li .twidget-passengers-detail:after,
.twidget-form-list li .twidget-guest-detail:after{background-image:url('./images/arrow-down.png'); background-repeat:no-repeat; width:15px; height:8px; background-position:0 0; content:""; top:20px; right:7px; position:absolute; background-size:15px;}
.twidget-form-list li .twidget-passengers-detail.active:after,
.twidget-form-list li .twidget-guest-detail.active:after{transform:rotate(180deg); -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg);}
.twidget-tab-content .twidget-tab-bottom{height:30px;}

.twidget-form-list li.twidget-input-locked input[type="text"]{border:1px dashed #fff; color: transparent; background: transparent;}
.twidget-form-list li.twidget-input-locked .twidget-pseudo-name, 
.twidget-form-list li.twidget-input-locked .twidget-pseudo-country-name, 
.twidget-form-list li.twidget-input-locked .twidget-destination-iata { color: white!important; font-weight: 600;} 

/*datepicker*/
.datepicker {border-radius: 0!important;}
.datepicker-dropdown { padding: 5px 10px 0 10px; height: 260px; }
.datepicker-days {font-family: 'Open Sans', arial, sans-serif}
.twidget-container .input-daterange input{text-align:left; font-size: 0; z-index:1;}
.input-daterange input:first-child {border-radius: 0;}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover, .datepicker table tr td.disabled.new {color: #a9a9a9;}
.twidget-date-text{position:absolute; left:12px; top:31px;}
.datepicker .datepicker-switch { width: 160px;}
.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover { background-color: transparent;}
.datepicker .prev, .datepicker .next, .datepicker .prev:hover, .datepicker .next:hover {color: transparent; background: url("data:image/svg+xml,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2030.6%2024.6'%3E%3Cpath%20fill%3D'%2300B9FF'%20d%3D'M.6%2010.8l.2-.2%209.9-10c.8-.8%202.2-.8%203%200l.3.2c.8.8.8%202.2%200%203L7.9%2010h20.6c1.2%200%202.1%201%202.1%202.1v.3c0%201.2-1%202.1-2.1%202.1H7.9l6.2%206.2c.8.8.8%202.2%200%203l-.3.3c-.8.8-2.2.8-3%200L.8%2014l-.2-.2c-.8-.8-.8-2.2%200-3z'%2F%3E%3C%2Fsvg%3E") no-repeat 8px 6px; background-size: 16px;}
.datepicker .next {-webkit-transform: rotate(180deg) !important; -ms-transform: rotate(180deg) !important; -o-transform: rotate(180deg) !important; transform: rotate(180deg) !important;}
.datepicker thead tr:last-child {text-transform: uppercase; font-size: 10px;}
.datepicker table tr td, .datepicker table tr th {border-radius: 0;width: 32px; height: 25px; line-height: 24px; display: inline-block; padding: 0!important;}
.datepicker table tr td, .datepicker table tr td.new, .datepicker table tr td.range {color: #00B9FF;}
.datepicker table tr td.day:hover, .datepicker table tr td.focused {color: black;}
.datepicker-days tr {border-bottom: 3px solid white;}
.datepicker-days .day.range-end {background: url("data:image/svg+xml,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2026%2022'%3E%3Cpath%20fill%3D'%2300B9FF'%20d%3D'M4.3%2022H26V0H4.3L0%2011z'%2F%3E%3C%2Fsvg%3E") no-repeat right; background-color: #f5f5f5; color: white;}
.datepicker-days .day.range-start {background: url("data:image/svg+xml,%3Csvg%20version%3D'1.2'%20baseProfile%3D'tiny'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2026%2022'%3E%3Cpath%20fill%3D'%2300B9FF'%20d%3D'M21.7%2022H0V0h21.7L26%2011z'%2F%3E%3C%2Fsvg%3E") no-repeat; background-color: #f5f5f5; padding-right: 3px!important; color: white;}
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active { background-color: #f5f5f5; }
.datepicker table tr td.selected:hover, .datepicker table tr td.selected.highlighted:hover {background-color: #00B9FF;}
.datepicker table tr td.range { background-color: #f5f5f5;}
.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus { background-color: #00B9FF;}
.datepicker-cancel-return-date {color: #ffaf1a!important; position: absolute; display: block!important; margin-top: 0; left: 43px; width: 160px!important; line-height: 17px; border: 1px solid #ffa600!important; border-radius: 40px!important; text-align: center!important; font-size: 11px; cursor: pointer;}
/*passenger slection*/
#twidget-passenger-form, #twidget-guest-form{position:absolute; left:0; top:51px; width:270px; padding-top:7px; background:#fff; box-shadow:0 0 15px 0 rgba(0,0,0,0.3); z-index:999;}
.twidget-age-group{display:table; width:100%;}
.twidget-age-group li{display:table-row;}
.twidget-age-group li .twidget-cell{display:table-cell; height:44px; vertical-align:middle;}
.twidget-age-group li .twidget-age-name{padding-left:20px; width:50%;}
.twidget-age-group li  .twidget-age-select{padding-right:10px; width:40%;}
.twidget-age-select .twidget-dec{width:35px; height:35px; display:inline-block; text-indent:-9999px;cursor:pointer; border-radius:25px; line-height:35px; background:#fff 50% 50%/14px no-repeat; background-image:url('./images/minus.png');}
.twidget-age-select .twidget-dec:hover{background-color:#e0e0e0; }
.twidget-age-select .twidget-num{width:30%; text-align:center; line-height:1.4; display:inline-block;}
.twidget-age-select .twidget-num input{width:100%; padding:0; text-align:center;}
.twidget-age-select .twidget-inc{width:35px; height:35px; display:inline-block; text-indent:-9999px;cursor:pointer; border-radius:25px; line-height:35px; background:#fff 50% 50%/14px no-repeat; background-image:url('./images/plus.png');}
.twidget-age-select .twidget-inc:hover{background-color:#e0e0e0; }
.twidget-age-select input{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.twidget-age-select input::selection {color:currentColor;background:transparent}
.twidget-pas-class{display:table; width:100%; height:44px; border-top:1px solid #e0e0e0;}
.twidget-pas-class .twidget-pass-check{display:table-cell; vertical-align:middle;padding-left:20px;}
.twidget-pas-class .twidget-pass-check input[type="checkbox"]{display:none;}
.twidget-pas-class .twidget-pass-check label{line-height:16px; cursor:pointer; position:relative; padding-left:24px; display:inline-block; color: #424242; font-size: 14px;}
.twidget-pas-class .twidget-pass-check label:before{position:absolute; content:""; top:0; left:0; width:14px; height:14px; border:1px solid #00b1dd;}
.twidget-pas-class .twidget-pass-check input[type="checkbox"]:checked+label:before{background:url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208.5%206%22%3E%3Cstyle%3E.st0%7Bfill%3A%2300B9FF%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M8.5%201.1L7.4%200%203.6%203.8%201.1%201.3%200%202.4%203.6%206z%22%2F%3E%3C%2Fsvg%3E') no-repeat 50% 50%; background-size:12px;}
.twidget-passengers-ready-button-wrapper { vertical-align: middle; text-align: center; display: block!important; margin-top: 5px; margin-bottom: 20px; }
.twidget-passengers-ready-button {display: inline-block; padding: 0 30px; font-size: 13px; line-height: 43px; border: 1px solid #ffa600!important; border-radius: 40px; text-align: center; margin: 0 auto; color: #ffa600; cursor: pointer; clear: both; }
.twidget-passengers-ready-button:hover { border-color: #ffaf1a; color: #ffaf1a;}
/*hotel*/
#twidget-tab2 .twidget-form-list li.twidget-city-hotel{width:39%;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-dates{width:27%;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-guest{width:13%;}
#twidget-tab2 .twidget-form-list li.twidget-submit-button{width:18%;}
.twidget-icon-hotel{width:40px; height:50px; background:url(./images/hotel.png) no-repeat 50% 50%; background-size:20px; position:absolute; top:12px; right:0;}
/*city hotel autofill*/
.twidget-auto-fill-wrapper{position:absolute; z-index:99; top:50px; left:0; width:100%; box-shadow: 0 0 15px 0 rgba(0,0,0,.3); overflow:hidden; background:#fff;max-height:315px;}
.twidget-auto-fill-wrapper ul li{height:45px; padding:4px 20px; position:relative; overflow:hidden; cursor:pointer; color:#424242; white-space: nowrap;}
.twidget-city-hotel .twidget-auto-fill-wrapper ul li{padding:4px 26px;}
.twidget-auto-fill-wrapper ul li:hover{background-color:#00b1dd; color:#fff;}
.twidget-auto-fill-wrapper ul li > span.twidget-city-name{display:block; line-height:37px; width: 85%; overflow: hidden; text-overflow: ellipsis;}
.twidget-auto-fill-wrapper ul li:before{position: absolute; top: 13px; left: 0; display: block; width: 26px; background-position: center; background-repeat: no-repeat; content: ''; height: 20px; background-size: 13px;}
.twidget-auto-fill-wrapper ul li.main-city:before{background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%2300B9FF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M3.758%204.984c0%20.686.556%201.243%201.242%201.243.686%200%201.242-.557%201.242-1.243%200-.685-.556-1.242-1.242-1.242-.686%200-1.242.557-1.242%201.242z%22%2F%3E%3Cpath%20d%3D%22M9.66%204.44h-.45C8.957%202.553%207.48%201.064%205.6.795V.3c0-.165-.135-.3-.3-.3h-.6c-.165%200-.3.135-.3.3v.495C2.518%201.065%201.042%202.553.79%204.44H.3c-.165%200-.3.135-.3.3v.6c0%20.165.135.3.3.3h.5c.28%201.85%201.745%203.3%203.6%203.565V9.7c0%20.165.135.3.3.3h.6c.165%200%20.3-.135.3-.3v-.495C7.455%208.94%208.92%207.49%209.2%205.64h.46c.165%200%20.3-.135.3-.3v-.6c0-.165-.135-.3-.3-.3zM5.6%208.21c0-.165-.135-.3-.3-.3h-.6c-.165%200-.3.135-.3.3v.26c-1.452-.25-2.6-1.383-2.867-2.83h.257c.165%200%20.3-.135.3-.3v-.6c0-.165-.135-.3-.3-.3h-.265c.24-1.484%201.397-2.656%202.875-2.91v.26c0%20.165.135.3.3.3h.6c.165%200%20.3-.135.3-.3v-.26c1.478.254%202.636%201.426%202.875%202.91H8.17c-.165%200-.3.135-.3.3v.6c0%20.165.135.3.3.3h.297C8.2%207.087%207.052%208.22%205.6%208.47v-.26z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');}
.twidget-auto-fill-wrapper ul li.main-hotel:before{background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%2300B9FF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M5.313%200L0%202.51V10h10V3.812L5.312%202.04V0zm4.062%204.23v4.997h-.938v-5.35l.938.353zM4.687.965v8.262h-2.5V2.142l2.5-1.177zm-3.125%201.47v6.792H.625v-6.35l.938-.44zm6.25%201.207v5.585h-2.5V2.7l2.5.942z%22%2F%3E%3Cpath%20d%3D%22M2.9%202.66h1.2v.6H2.9v-.6zM2.9%204.34h1.2v.6H2.9v-.6zM2.9%206.04h1.2v.6H2.9v-.6zM2.9%207.72h1.2v.6H2.9v-.6zM6.1%204.34h1v.6h-1v-.6zM6.1%206.04h1v.6h-1v-.6zM6.1%207.72h1v.6h-1v-.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'); top: 11px;}
.twidget-auto-fill-wrapper[data-type="avia"] ul li > span.twidget-city-name{line-height:25px;}
.twidget-auto-fill-wrapper ul li > span.twidget-city-name span{color:#999; font-size:13px;}
.twidget-auto-fill-wrapper ul li > span.twidget-city-airport-name{color:#999; font-size:11px;position: absolute; margin-top: -16px; width: 70%; height: 14px; overflow: hidden; text-overflow: ellipsis;}
.twidget-auto-fill-wrapper ul li > span.twidget-num-hotel{position:absolute; top:11px; right:15px; color:#999; line-height:26px; font-size: 11px;}
.twidget-auto-fill-wrapper[data-type="avia"] ul li > span.twidget-num-hotel{top: 5px}
.twidget-auto-fill-wrapper ul li:hover .twidget-num-hotel,
.twidget-auto-fill-wrapper ul li:hover .twidget-city-airport-name,
.twidget-auto-fill-wrapper ul li:hover .twidget-city-name span {color:#fff !important;}
@media (max-width: 1920px){
.twidget-container{width:980px;}
#twidget-tab1 .twidget-form-list li.twidget-origin, #twidget-tab1 .twidget-form-list li.twidget-destination{width:49.5%; margin-bottom:15px;}
#twidget-tab1 .twidget-form-list li.twidget-destination{margin-right:0;}
#twidget-tab1 .twidget-form-list li.twidget-flight-dates{width:43%;}
#twidget-tab1 .twidget-form-list li.twidget-passengers{width:25%;}
#twidget-tab1 .twidget-form-list li.twidget-submit-button{width:30%;}
.twidget-tab-content .twidget-tab-bottom{height:20px;}

}
@media (max-width: 1920px){
.twidget-container{width:65%;}
#twidget-tab2 .twidget-form-list li.twidget-city-hotel{width:100%; margin-right:0; margin-bottom:15px;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-dates{width:43%;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-guest{width:25%;}
#twidget-tab2 .twidget-form-list li.twidget-submit-button{width:30%;}
}
@media (max-width: 900px){
.twidget-container{width:800px;}
}
@media (max-width: 800px)
{
.twidget-container{width:700px;}
}
@media (max-width: 700px)
{
.twidget-container{width:auto; padding-left:0; padding-right:0;}
}
@media (max-width: 650px){
#twidget-tab1 .twidget-form-list li.twidget-origin,
#twidget-tab1 .twidget-form-list li.twidget-destination,
#twidget-tab1 .twidget-form-list li.twidget-passengers,
#twidget-tab1 .twidget-form-list li.twidget-flight-dates{width:49%; margin-right:2%;}
#twidget-tab1 .twidget-form-list li.twidget-passengers,
#twidget-tab1 .twidget-form-list li.twidget-destination{margin-right:0;}
#twidget-tab1 .twidget-form-list li.twidget-submit-button{width:100%; margin-top:10px;}
.twidget-form-list li .twidget-passengers-detail .twidget-pas-no{display:inline-block; line-height:36px;}
.twidget-form-list li .twidget-passengers-detail .twidget-class{display:inline-block; line-height:36px;}

#twidget-tab2 .twidget-form-list li.twidget-hotel-dates{width:49%; margin-bottom:15px; margin-right:2%;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-guest{width:49%; margin-right:0; margin-bottom:15px;}
#twidget-tab2 .twidget-form-list li.twidget-submit-button{width:100%;}
}
@media (max-width: 550px){
.twidget-tab-content .twidget-title{display: none;}
#twidget-tab1 .twidget-form-list > li{width:100% !important; margin-bottom:15px;  margin-right:0 !important;}
#twidget-tab1 .twidget-form-list > li:last-child{margin-bottom:0; margin-top:0;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-dates{width:100%; margin-right:0;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-dates .twidget-form-item{width:100%; margin-bottom:15px;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-dates .twidget-form-item:last-child{margin-bottom:0;}
#twidget-tab2 .twidget-form-list li.twidget-hotel-guest{width:100%;}
}
@media (max-width: 320px){
.twidget-dep-date {margin-bottom: 15px;}
.twidget-tab-links{display:table; width:100%;}
.twidget-tab-links ul{display:table-row;}
.twidget-tab-links ul li{display:table-cell; width:50%;}
.twidget-tab-links ul li a{padding:0; text-indent:-9999px;}
.twidget-tab-links ul li a:before{left: calc(50% - 25px);}
.twidget-form-list li.twidget-flight-dates > div{width:100%;}
.twidget-form-list li.twidget-flight-dates .twidget-dep-date .twidget-input-box input{border-right-color:#fff; border-bottom:1px solid #cfd8dc;}
}
@media (max-width: 240px){
    .twidget-tab-content .twidget-header {display: none;}
}

/*-- old style --*/

.main {
	min-width: 1300px
}

#api_output_list{
	height: 30px;
}



.menu {
	position: absolute;
    top: 25px;
    left: 20px;
    width: 100%;
}
.menu nav {
	margin: 0px 0;
	width: auto;
	height: auto; 
	float: none; 
	margin-right: 0;
	list-style: none;
}

.menu nav li a {
	line-height: normal;
}

.menu ul {
    list-style: none;
    margin: 0 auto;
    width: 1255px;
    padding-left: 0;
    text-align: center;
    overflow: hidden;
}
.menu li {
    float: left;
    width: 200px;
    margin-right: 45px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-family:"Open Sans",Helvetica,Arial,sans-serif !important; /*скачать шрифт можно с сайта https://www.google.com/fonts/*/
    font-size: 11pt;
    letter-spacing: 2px;
    padding: 20px 0;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.menu .one {
    background: url(122.png) repeat-x;
}
.menu .two {
    background: url(http://html5book.ru/wp-content/uploads/2015/01/borger-grey.png) repeat-x;
}
.menu .three {
    background: url(http://html5book.ru/wp-content/uploads/2015/01/border-sea.png) repeat-x;
}
.menu .four {
    background: url(http://html5book.ru/wp-content/uploads/2015/01/border-blue.png) repeat-x;
}
.menu a:hover {
    background-position: 250px 0;
    color: #fff;
    font-size: 12pt;
}


.header{
	width:100%;
	height: 700px;
	background: url("2.jpg") 50% 0 no-repeat;
	background-size: cover;
}

.header .ots-top {
	width:100%;
	height: 20px;
}
.header .ots {
	width:100%;
	height: 350px;
}

.header .search {
	margin: auto;
	width:1230px;
	height: 75px;
	background: rgba(0, 0, 0, 0.7);

}
.header .ots-top-s {
	width:100%;
	height: 1px;
}


.popular {
	margin-top: 200px;
	width:100%;
	height: 620px;
	background: #000;
}
.popular p{
	color:#fff;
	font-size: 20pt;
	font-family:"Open Sans",Helvetica,Arial,sans-serif !important;
	text-align: center;
	font-weight: 500;
}
.popular .ots-top {
	width: 100%;
	height: 40px;
}
.popular .sponsor {
	margin:auto;
	width:1000.7px;
	height: 70px;
}
.popular img {
	margin-left: 25px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.popular .cart {
	width:1250.7px;
	height: 380px;
	margin:auto;
}


.popular .baku {
	margin-top: 16px;
	margin-left: 1%;
	width:23%;
	height: 300px;
	float:left;
}

.popular .praga {
	margin-top: 16px;
	margin-left: 2%;
	width:23%;
	height: 300px;
	float:left;
}

.popular .paris {
	margin-top: 16px;
	margin-left: 2%;
	width:23%;
	height: 300px;
	float:left;
}

.popular .stambul  {
	margin-top: 16px;
	margin-left: 2%;
	width:23%;
	height: 300px;
	float:left;
}


.special {
	width: 100%;
	height: 650px;
	background: url("avia.jpg") no-repeat;
	background-size: cover;
}

.special .position {
	min-width:1200px;
	width:1235px;
	margin:auto;
}
.special .ots-top{
	margin:auto;
	width: 500px;
	height:100px;
	color:#fff;
	font-family:"Open Sans",Helvetica,Arial,sans-serif !important;
	font-size: 20pt;
}

.special .ots-top .vah {
	width:100%;
	height: 15px;
}

.special .ots-top p{
	margin-left: 10px;
}

 .button { 
 	border-top: 1px solid #f5a422; 
 	background: #f09000; 
 	background: -webkit-gradient(linear, left top, left bottom, from(#f09000), to(#f09000));
 	 background: -moz-linear-gradient(top, #f09000, #f09000); background: -ms-linear-gradient(top, #f09000, #f09000); 
 	 background: -o-linear-gradient(top, ##f09000, #f09000); padding: 20px 40px; -webkit-border-radius: 13px;
 	-moz-border-radius: 13px; border-radius: 13px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
 	box-shadow: 0 1px 2px rgba(0,0,0,.2); text-shadow: rgba(0,0,0,.4) 0 1px 0; color: #ffffff; font-size: 24px;
 	font-family: Helvetica, Arial, Sans-Serif; text-decoration: none; vertical-align: middle;
}

.button1 { 
 	width: 400px;
 	font-size: 12px;
 	text-align: center;
 	margin:auto;
 	border-top: 1px solid #328cef; 
 	background: #328cef; 
 	background: -webkit-gradient(linear, left top, left bottom, from(#328cef), to(#328cef));
 	background: -moz-linear-gradient(top, #328cef, #328cef); background: -ms-linear-gradient(top, #328cef, #328cef); 
 	background: -o-linear-gradient(top, #328cef, #328cef); padding: 20px 40px; -webkit-border-radius: 13px;
 	-moz-border-radius: 13px; border-radius: 13px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
 	box-shadow: 0 1px 2px rgba(0,0,0,.2); text-shadow: rgba(0,0,0,.4) 0 1px 0; color: #ffffff; font-size: 24px;
 	font-family: Helvetica, Arial, Sans-Serif; text-decoration: none; vertical-align: middle;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}


.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 1200px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;

}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

footer#contact {
	width:100%;
	height: 200px;
	background: #000;
	color:#fff;
}

footer .top {
	margin:auto;
	width:1200px;
	height:100px;
}

footer .f-info {
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
	font-size: 12pt;
}

.f-logo {
	float:left;
}

.f-vop{
	color:#fff;
	margin-top: 40px;
	float:left;
	font-size: 12pt;
}

.f-contact{
	margin-right: 30px;
	margin-top: 40px;
	float:right;
}

.f-mail{
	margin-right: 60px;
	margin-top: 40px;
	float:right;
}

.bottom{
	margin:auto;
	width: 1200px;
	margin-top: 20px;
}

.bottom a{
	margin-left: 20px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
	color:#fff;
	text-decoration: none;
	font-size: 15pt;
}

.bottom .le{
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
	font-size: 10pt;
	float:right;
}

.omg {
    border-top: #ddd dashed 1px;
}
/* -- end old style -- */


/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { background-color:#1b2940; font:62.5% Georgia,'Times New Roman',serif; letter-spacing:1; }

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#header { height:600px;}
.headerimg { background-position: center center; background-repeat: no-repeat; width:100%; height:100%; position:absolute; background-size: cover;}

/* NAVIGATION */
#nav-outer { height:110px; padding-top:11px; position:relative; top:24px; background-image:url("../images/headerbg.png"); }
#navigation { height:100px; width:960px; margin:0 auto; background-image:url("../images/logo.png"); background-position:top left; background-repeat:no-repeat; }

/* SEARCH */
#search { background-color:#051733; float:right; width:220px; padding:10px; }
#searchtxt { padding:3px; width:150px; }
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

/* MENU */
/*#menu { position:relative; top:85px; }
#menu ul { list-style:none; }
#menu ul li { display:inline; font-variant:small-caps; font-size:12px; }
#menu ul li a { color:white; text-decoration:none; font-weight:bold; padding-right:20px; }
#menu ul li a:hover { text-decoration:underline; }*/

/* HEADER TEXT */
#headertxt { width:960px; margin:0 auto; clear:both; position:relative; top:74px; }
#firstline { background-image:url("../images/textbg.png"); color:#333; font-size:40px; padding:4px 13px 7px; float:left; display:block; }
#secondline { background-image:url("../images/textbg.png"); color:#CD2B3A; text-decoration:none; font-size:60px; padding:0 13px 10px; float:left; display:block; clear:both; }
#secondline:hover { text-decoration:underline; color:#7F000C; }

.pictured { background-color:#CC3333; color:#FFF; font-size:12px; padding:9px 16px; text-transform:uppercase; float:left; display:block; clear:both; margin-top:10px; }
.pictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF; text-decoration:none; }
.pictured a:hover { text-decoration:underline; }

/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; margin-top: 75px;}
#back { background-image:url("../images/btn_back.png"); }
#next { background-image:url("../images/btn_next.png"); }
#control { background-image:url("../images/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:relative; top:600px; margin:0 auto; width:960px; }
#headernav { padding-left:864px; }

/* CONTENT */
#content { color:#575757; background-color:#eee; }
#content p { padding:10px 20px; font-size:16px; width:960px; margin:0 auto; }
#content p a { text-decoration:none; color:#CD2B3A; }
#content p a:hover { text-decoration:underline; color:#7F000C; }

.wow_search {
    position: absolute;
    top: 33%;
    left: 19%;
}


@media (max-width: 1000px) {
  .wow_search {    
    position: absolute;
    top: 15%;
    left: 0%;
    }
}

/* reset style*/
*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset stule */